


:root{
    --background-color:#d8edf9;  
}



body{
    background-color: var(--background-color);
}


.grid-container{
    display: grid;
    height: 100vh;
    grid-auto-flow: row;
    gap: 15px;   
}


main{
    display: grid;
    gap: 20px;
}


.first-col{
    display: flex;
    gap: 10px;
    
    justify-content: space-between;
}






@media screen and (max-width: 992px) {
    .side{
        display: none;
    }    

    /* .grid-container{
        grid-template-columns: 300px 1fr;
    } */
}

@media screen and (min-width: 991px){
    .side{
        grid-row: 1 / span 5;
        grid-column: 1;
    }

    .grid-container{
        grid-template-columns: 300px 1fr;
    }

    .summary-platform{
        grid-column: 2;
        grid-row: 2 / span 2;
    }

    main{
        grid-template-columns: 1fr 0.5fr;
    }

    .first-col{
        grid-column: span 2;
    }
}

@media screen and (max-width: 650px) {
    
    .summary-platform{
        grid-column: 1;
        grid-row: 4;
    }

    main{
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .first-col{
        flex-direction: column;
    }


    .nav-bar ul li:not(:first-child){
        display: none;
    }



}

/* Side styles */
body,h1{
    margin: 0;
    padding: 0; 
}
.side{
    /* position: fixed; */
    width: 250px;
    background-color: #1a3f59;
    height: 100%;
    margin: 0;
    padding: 0;
}

.items{  
    margin-left: 10px;
}

.side h1{
    padding: 10px;
    color: white;
    font-family: sans-serif;

}

.item{
    display: flex;
    gap: 10px;
    padding: 10px 25px;
    margin: 5px;
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
    color: white;
}

.item:hover{
    cursor: pointer;
    background-color: var(--background-color);
    color: black;
}



.item:first-child{
    background-color: var(--background-color);
    color: black;
}

@keyframes showItem {
    from{width: 0;}
    to{width: 100%;}
}

/* --------------- */



/* Navbar Style */

.nav-bar {
    height: max-content; 
}

.search-bar {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
}

input {
    position: relative;
    padding: 12px 5px 12px 15px;
    border: none;


}

input::placeholder {
    font-size: 12px;
}

input:focus {
    border: none;
    outline: none;
}

.search-text {
    background-color: #1a3f59;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
}

.search-text:hover {
    cursor: pointer;
    opacity: 0.9;
}

.nav-bar ul h1 {
    margin: 0;
    padding: 0;
}

.nav-bar .nav-brand {
    font-family: sans-serif; 
    margin-right: auto;
}

.nav-bar ul i {
    font-size: 25px;
    color: #1a3f59;
}

.nav-bar ul i:hover {
    cursor: pointer;
    opacity: 0.9;
}

.nav-bar ul li {
    padding: 10px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 0;
}
/*---------------------------*/



/*  first three cards*/

.courses {
    background-color: #addfe6;
}

.teachers {
    background-color: #f8e3c4;
}

.students {
    background-color: #f3c7c4;
}



.card {
    font-family: cursive;
    padding: 15px;
    border-radius: 15px;
    transition: 0.2s;
    flex: 1;
}

.card:hover {
    cursor: pointer;
    scale: 1.07
}

.card .number {
    margin: 0;
    padding: 0;
}

.sub {
    font-size: 12px;
}

.card .state {
    display: flex;
    align-items: end;
    gap: 4px;
    margin-top: 10px;

}


.category {
    margin-right: 10px;
    width: 30px;
    background-color: #090e2c;
    border-radius: 12px;
    padding: 10px;
    transition: 0.5s;
}

.category:hover {
    scale: 1.1;
}

.state i:not(i:first-child) {
    font-size: 30px;
    align-self: flex-end;
}



.main-state {
    background-color: #090e2c;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

/*-----------------------------*/


/*Award card style */

.award-card{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 150px;
    border-radius: 16px;
    background-color: #1a3f59 ;
    color: white;
}
.award-icon{
    font-size: 50px;
    
}

.award-text{
    
    font-family: sans-serif;
}

/*---------------------*/


/*Popular category sytles*/

.category-container .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.category-container .row-1 {
    display: flex;
    justify-content: space-between;
}

.inner {
    display: flex;
    align-items: center;
    gap: 8px;
}

.category-container {
    background-color: white;
    border-radius: 10px;
    padding: 8px 15px;
    grid-column: 1;
    grid-row: 2;
}

.category-container .col-1 {
    grid-column: span 2;
}


.contents {
    padding-left: 20px;
}

/*-----------------------*/


/*platform summary*/

.summary-platform{
    background-color: white;
    display: grid;
    padding: 10px;
    border-radius: 15px;
   
}

.summary-platform img{
    justify-self: center;
}

.title{
    display: flex;
    justify-content: space-between;
}

.summary-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.row1{
    border-left: 5px solid #63A6B9;
}

.row2 {
    border-left: 5px solid #F68121;
}

.row3{
    border-left: 5px solid #265599;
}

.row4{
    border-left: 5px solid #576EB2;
}

.item-icon{
    background-color: #1a3f59 ;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-weight: lighter;
    transition: 0.2s;
}

.item-icon:hover{
    cursor: pointer;
    transform: translateX(10px);
}

.item-icon:active{
    transform: translateX(5px);
}



.com-course-sub{
    font-size: 10px;
    font-family: sans-serif;
    opacity: 0.8;
    padding: 2px 0px;
}

/*----------------------*/



/* Recent Students */

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
}

.inner {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 8px 15px;
    grid-column: 1;
    grid-row: 3;
}

.col-1 {
    grid-column: span 2;
}


.contents {
    padding-left: 20px;
}

.h {
    font-weight: bold;
    font-family: sans-serif;
    opacity: 0.7;
}

.profile {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
}


/*---------------------------*/
