body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 1px;
    position: relative;
  }
  .square {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #eee;
    cursor: pointer;
  }
  .dark {
    background-color: #ccc;
  }
  .highlight {
    background-color: rgb(156, 83, 0);
    color: white;
  }

  .highlight::before{
    content: attr(data-steps);
  }
  .board-container {
    position: relative;
  }

  .side-numbers {
    position: absolute;
    top: 0;
    left: -20px;
    display: flex;
    flex-direction: column;
  }

  .bottom-numbers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }