

.p{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

#first{
    color: blue;
    font-size: 36px;
}

#second{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
