body {
    background-color: #142282;
    font-family: Lato, sans-serif;
    text-align: center;
}

.container{
    max-width: 400px;
    margin: auto;
}

.cell {
    border: none;
    background-color: #04082D;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    font-family: sans-serif;

}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px;
    gap: 20px;
    background-color: #1C2F95;
    justify-content: center;
    padding: 20px;
    font-family: Lato, sans-serif;
    border-radius: 10px;
}

dialog {
    animation: fade 0.5s;
}

dialog::backdrop {
    backdrop-filter: blur(10px);

}

@keyframes fade {
    from {
        scale: 0;
        opacity: 0;


    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.players {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.playerPlaceholder {
    padding: 20px;
    margin-bottom: 30px;
    color: white;
    border-radius: 10px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    position: relative;

}

.playerPlaceholder:nth-child(1) {
    background-color: rgb(248, 82, 82);
}

.playerPlaceholder:nth-child(3) {
    background-color: rgb(81, 217, 81);
}

.vs {
    font-size: 25px;
    font-weight: bold;
}

.turn {
    position: absolute;
    bottom: -25px;
    left: 10px;
}

.hide {
    display: none;
}